@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(0, 0, 0);
   
  }
}
/*  overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden; */
@font-face {
  font-family: "sfpro";
  src: url('../components/fonts/SF-Pro/SF-Pro.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfprodisplayregular";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sfprodisplaybold";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Text-Regular";
  src: url('../components/fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Heavy";
  src: url('../components/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf');
  font-weight: normal;
  font-style: normal;
}




@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.card {
  transform: translate(0%, -60%);




}


 

.shad {
  box-shadow: rgba(165, 180, 252, 0.4) 0px 5px, rgba(165, 180, 252, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(165, 180, 252, 0.1) 0px 20px, rgba(165, 180, 252, 0.05) 0px 25px;
}



.shad2 {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15),
  0 1px 0 rgba(255, 255, 255, 0.25),
  0 1px 0 rgba(255, 255, 255, 0.25) inset,
  0 0 0 rgba(0, 0, 0, 0.5) inset;
  border: 1px solid #ffffffb8;
  backdrop-filter:
  blur(15px);
  text-align: center;
  background: linear-gradient(
    120deg,
    rgba(57, 57, 57, 0.35),
    rgba(41, 41, 41, 0.45),
    rgba(57, 57, 57, 0.45)
  );
}


.shadd {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.popup {
  content:'';
 
 
  border-radius: 8px;
  background-color: rgba(213, 213, 213, 0.1);
  backdrop-filter: blur(18px);
 
 
  box-shadow: 0 5px 15px rgba(0,0,0,0.18)
}


.zoomA {
  /* (A) OPTIONAL DIMENSIONS */
  width: 600px;
  height: auto;
 
  /* (B) ANIMATE ZOOM */
  /* ease | ease-in | ease-out | linear */
  transition: transform ease-in-out 0.3s;
}
@media (max-width: 671px) {
	.zoomA {
		transition: none;
	}
}
 
/* (C) ZOOM ON HOVER */
.zoomA:hover { transform: scale(1.5); }

@media (max-width: 671px) {
  .zoomA:hover { transform: none;}
}
@media (max-width: 671px) {
  .Tilt {
     transform: none;
     transition: none;
    
  }
}
@media (max-width: 671px) {
  react-parallax-tilt {
     display:none;
   
     
  }
}

@media (max-width: 671px) {
  .mob-w {
    margin-right: 11px;
  }
}


@media (max-width: 671px) {
.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out
}
}

@media (max-width: 671px) {
  .smsize {
    margin-right: 4px;
  }
}



.dropdown-button-1 {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;
  padding: 0 1px;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-family: "Euclid Circular A";
  color: #f9f9f9;
}

.dropdown {
  position: relative;
  width: 130px;
}

.dropdown > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 70px;
  width: 15%;
  
}

.dropdown > button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
 

  background: #4f4d5666;
  transform-origin: 0% 0%;
  transform: scaleX(0);
  transition: 0.5s;
}

.menu.open ~ button::after,
.dropdown > button:hover::after {
  transform: scale(1);
  
}

.menu {
  position: absolute;
  top: 56px;
  overflow: hidden;
  width: 100%;
  border: 1px solid #4f4d5666;
  background-color:#4f4d5680;
  border-radius: 6px;
  padding-bottom: 10px;
 
  padding-top: 10px;
  display: grid;
  visibility: hidden;
  opacity: 0;
  translate: 0 20px;
  transition: 0.3s;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  translate: 0 0;
 
}

.menu > button {
  font-size: 15px;
}

.menu > button .material-symbols-outlined {
  font-size: 20px;
}

.menu.open ~ button .material-symbols-outlined {
  scale: 0.85;
}

.menu > button:hover {
  background: #2c2b31;
}

/*** ***/

.shadowbox {
  --box-shadow: 0px 4px 16, rgba(0,0,0,.6);
   background: #212025;
   border: 1px solid #4f4d5666;
}

.sidebar {
  flex: 1;
  height: calc(80vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  width: calc(35vh - 50px);
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  width: calc(80vh - 50px);
}

.chartTitle {
  margin-bottom: 20px;
}
.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
    font-size: 20px;
    color: #f9f9f9;
}

.featuredMoneyContainer{
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
    color: #f9f9f9;
    margin-left: 40px;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;

}

.featuredIcon{
    font-size: 14px;

    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}

.home{
  flex: 4;
}

.homeWidgets{
  display: flex;
  margin: 20px;
}

.iframe-container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** **/


.chiefshadbox:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #fff95b 0%, #ff930f 100% );
  transform: translate3d(0px, 60px, 0) scale(0.75);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}
.stickyy {

   /* Just adjust the color or opacity to make the text pop! */
 


}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.chiefshadbox::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}
.start {
  padding-top: 0.19rem/* 4px */;
  padding-bottom: 0.15rem/* 4px */;
}
.contactname{
  background:#ffffff14;
  border-radius: 2px;
  }
  @media screen and (max-width: 700px) {
  .contmob {
    letter-spacing: -0.025em;
  }
  }
  @media screen and (max-width: 700px) {
    .contmobgroup {
      align-items: center;
      gap: 6;
      padding: 2px;
      margin-left: 10px;  
    }
  }
  @media screen and (max-width: 700px) {
    .contmobphrase {
     font-size: 14px;
    }
  }

.nblur {
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  backdrop-filter: saturate(100%) blur(35px);
 }
 .txtsh {
  text-shadow: 0 0 0.8em black;
 }
@media screen and (max-width: 700px) {
  .thefirst2 {
    font-size: 1.10rem;
    text-align: center;
    width: 100%;
    
  }
  
  }

@media screen and (max-width: 700px) {
  .integrates {
    font-size: 1.1rem;
   
  }
  
  }
.bgdark {
  background-color:hsl(0, 0%, 0%);
  
  }
  .txtdarkbg {
    color: hsl(0, 0%, 0%);
  }
  
  .darkpurp {
  background-color: rgb(19, 19, 21);
  }
  
  @media screen and (max-width: 700px) {
  .take {
  font-size: 1.19rem;
  }
  
  }
@media screen and (max-width: 700px) {
  .take {
    font-size: 0.87rem;
    text-align: left;
    letter-spacing: 0.05em;
    width: 100%;
  }
  
  }
@media screen and (max-width: 700px) {
  .expmob{
grid-template-columns: repeat(1, minmax(0, 1fr));
background-color: rgba(17, 17, 18, 0.3);
gap: 0.25rem;
display: grid;
width: 100%;
margin-top: 0.75rem;
}
  
  }
.expmob2 {
background-color: rgba(17, 17, 18, 0.3);
gap: 1.5rem;
padding: 0.2rem;
display: grid;
width: 100%;
margin-top: 0.75rem;
grid-template-columns: repeat(2, minmax(0, 1fr));
  }              
@media screen and (max-width: 700px) {
.mobexp{
background-color: rgba(17, 17, 18, 0.3);
gap: 1.5rem;
padding: 0.2rem;
display: grid;
width: 100%;
margin-top: 0.75rem;
grid-template-columns: repeat(2, minmax(0, 1fr));
}                                  
}              
.btwi {
font-size: 2.255rem/* 30px */;                                    
line-height: 2.7rem
}
.monitor {
font-size: 1.41rem/* 18px */;
line-height: 2.19rem
}  

.apic {
  width: 85vh;
  }
  .alticsde {
    width: 50vh;
  }
  .apicc {
    width: 82.0vh;
    }
  .ap2 {
  width: 51.5vh;
  height: 50vh;                                  
  }
  .apap {
  width: 130.5vh;
  height: 45.5vh;
  }
  .apap2 {
  width: 132.5vh;
  height: 47.5vh;
  }
  .apapap {
    width: 162.5vh;
  }
  .apic2 {
  
  
  width: 50vh;
  }
  .apic22 {
  
  
    width: 36vh;
    }
  .ap {
  width: 53vh;
  }
  .apam {
  width: 33.650vh;
   }
   .nf {
    user-select:none;
  
    
   
    background-color: rgba(190, 190, 190, 0.643);
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    overflow: hidden;
   
   }
   .nfff {
    user-select:none;
  
    
    transform: translatex(2%);
    background-color: rgba(43, 43, 43, 0.463);
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    overflow: hidden;
    transition: .5s all;
   }
   .n1nf {
    user-select:none;
  
    
    transform: translatex(2%);
    background-color: rgba(0, 0, 0, 0.176);
    border: 2px solid rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    overflow: hidden;
    transition: .5s all;
   }
   .txteff {
    transform: translatex(-10%);
   }
   .imback {
    background-image: url("/images/color-bleed.png");
   
   
   }
   .nfx3 {
    user-select:none;
  
    
    transform: translatex(0%);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(47, 46, 46, 0.899) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    border: 1px solid rgba(255, 170, 0, 0);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    overflow: hidden;
    transition: .5s all;
   }
   .nfx4 {
    user-select:none;
  
    
    transform: translatex(0%);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(47, 46, 46, 0.899) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    border: 2px solid rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    overflow: hidden;
    transition: .5s all;
   }
   .nf2x1 {
    user-select:none;
  
    
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(47, 46, 46, 0.899) 0%, rgba(0,0,0,0.25) 200%);
   background-blend-mode: multiply;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .3rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
   }
   .nf1 {
    user-select:none;
  
    
    transform: translatex(-1%);
    background-color: rgba(0,0,0,0.4);
    border: 2px solid rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
    overflow: hidden;
    transition: .5s all;
   }
  
  .nf1notr {
   user-select:none;
  
   
  
   background-color: rgba(0,0,0,0.4);
   border: 2px solid rgba(0,0,0,0.5);
   -webkit-backdrop-filter: blur(10px);
   -moz-backdrop-filter: blur(10px);
   -ms-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
   overflow: hidden;
  
  }
   .nf2 {
    user-select:none;
  
    
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .3rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
   }
   .nf3 {
   
    background: linear-gradient(0deg, rgb(255, 179, 0) 0%, rgba(40, 1, 62, 0.945) 100%);
  
   }
   .nnf {
  
    box-shadow: 0 7px 20px 5px #00000088;
      background: linear-gradient(0deg, rgba(95, 34, 124, 0.945) 0%, rgb(228, 134, 3) 100%);
    
   }
   .ffnf {
  
    box-shadow: 0 3px 10px 5px #00000088;
    background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, hsla(0, 0%, 0%, 0.805), #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.805), #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
   }
   .ffnf2 {
  
    box-shadow: 0 3px 10px 5px #00000088;
    --tw-bg-opacity: 1;
    background-color: rgb(245 158 11 / var(--tw-bg-opacity));
  
   }
   .ff1 {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(47, 46, 46, 0.899) 0%, rgba(0,0,0,0.25) 200%);
   background-blend-mode: multiply;
   }
   .ff2 {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(218, 209, 209, 0.4) 0%, rgba(0,0,0,0.25) 200%);
   background-blend-mode: multiply;
   }
   .n2f {
  
    box-shadow: 0 7px 20px 5px #00000088;
      background: linear-gradient(0deg,  rgb(228, 134, 3) 0%, rgba(95, 34, 124, 0.945) 100%);
   }
  
   .nblur {
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    backdrop-filter: saturate(100%) blur(35px);
   }
   .txtsh {
    text-shadow: 0 0 0.8em black;
   }
   .nf4 {
    
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
   }
   .nfcover {
    background:linear-gradient(93.51deg, #e9e6e6d4 2.84%rgba(221, 118, 7, 0.745)ed 99.18%); 
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(47px);
    
    backdrop-filter: saturate(100%) blur(45px);
    
   }